<footer>
  <nav class="round">
    <ul>
      <li><a href="http://www.suda.edu.cn">Soochow University</a></li>
      <li><a href="http://www.sysbio.org.cn">Center for Systems Biology</a></li>
      <li><a href="mailto:tangyifei.tang@gmail.com">Author: Eragon Tang</a></li>
    </ul>
  </nav>
</footer>
